@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&display=swap');
/* footer font */
  @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Donegal+One&display=swap');
  /* title */
  @import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Manjari:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
  *{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(38, 38, 37);
    width: 100%;
    height: 100%;

}

/* navbar css */

nav{
    background-color: rgb(38, 38, 37);
    display: flex;
    justify-content: space-between;
    padding:20px 20px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.4);
    z-index: 99;
}

.navbar-logo a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1.1em;
}

.nav-items ul li{
    list-style: none;
    display: inline-block;

}

.link{
    text-decoration: none;
    padding: 20px;
    color: aliceblue;
    font-family: 'Lexend Deca', sans-serif;
}

.link:hover{
    transition: all ease 2s;
    color: rgb(234, 255, 0);
}


/* navbar css */

/* content css */
.contentcontainer {
    height: 79vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;

}
.circlecontainer{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: padding 2s alternate-reverse;
}
@keyframes padding {
    0%{
        border: none;
        background-color: transparent;
    }
    50%{
        background-color: rgba(0,0,0,0.3);
    }
    100%{
        background-color: black;
        
    }
    
}


.introdunctioncontainer h1{
    font-family: 'Didact Gothic', sans-serif;
    animation: opening 2s ease-in-out infinite alternate-reverse;
    font-size: 4rem;
    text-align: center;

    
}

@keyframes opening{
    0%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}

.introdunctioncontainer p{
    font-family: 'Donegal One', serif;
    padding: 0px 30px;
    animation: opening 2s ease-in-out infinite alternate-reverse;


}

/* content css */

/* Footer Css */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    background-color: rgb(38, 38, 37);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.4);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    color: white;
    opacity: 0.7;
    position: relative;
    bottom: 2px;

}
footer .button {
    cursor: pointer;
    padding: 0px 10px;
    color: white;
    opacity: 0.5;

}
footer .button:hover {
    color: white;
    opacity: 1;
}

footer .icons{
    padding: 20px;
    margin: auto 0px;
}

.aboutcontainer{
    height: 79vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aboutborder{
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    margin: 0px 20px;
    background-color: rgba(0,0,0,0.1);
    width: 800px;
    height: 450px;
    overflow: auto;
}

.aboutcontainer .aboutborder .aboutcontent img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;

}

.aboutcontainer .aboutborder .aboutcontent h1{
    font-family: 'Alatsi', sans-serif;
}
.aboutcontainer .aboutborder .aboutcontent p {
    font-family: 'Lexend Deca', sans-serif;
    margin: 10px;
    font-size: 15px;
}

.contactcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79vh;
    color: white;
}

.itemscontainer h1{
    font-size: 2rem;
    font-family: 'Manjari', sans-serif;
    padding-top: 20px;

}
.itemscontainer{
    padding: 0px 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.1);
    animation: border 1s forwards;
    border: 2px solid rgba(255,255,255,0.7);

}
@keyframes border {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);

    }
    
}
.itemscontainer input{
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 10px;
    margin: 10px 5px;
    padding: 5px;
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    outline: none;
}



.emailtextareafield textarea{
    border: none;
    border-radius: 10px;
    resize: none;
    height: 130px;
    padding: 2px 5px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    outline: none;
    text-align: center;
    margin: 10px 5px;

}
.emailtextareafield input{
    width: inherit;
}

.emailtextareafield{
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.itemscontainer .inputcontainer button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #FFB84C, #F2921D);
    border-radius: 20px;
    background-size: 100% auto;
    font-size: 17px;
    padding: 0.6em 1.5em;
    cursor: pointer;
    font-family: 'Lexend Deca';

   }
   
   .itemscontainer .inputcontainer button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #dabe0566;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }



.form-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.projectscontainer{
    height: 79vh;
}

.projectscontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.projectborder{
    width: 350px;
    border: 2px solid white;
    height: 400px;
    border-radius: 20px;
}

.project{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.projectborder{
    text-align: center;
    color: aliceblue;
    font-family: 'Lexend Deca', sans-serif;
}

.projectborder img{
    border-radius: inherit;
    width: inherit;
    height: inherit;
}
.projectborder img:hover{
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255,0.4);
}

.projectborder h1{
    transition: 0.5s;
    transform: translateY(-380px);
    animation-name: downward;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition: 1s;
    z-index: 1;
}

@keyframes downward {
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}
.projectborder h1 button{
    transition: .5s;
    width: 200px;
    height: 200px;
    
}

.visiticon{
    font-size: 3rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
    animation-name: upward;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition: .7s;
}
.visiticon:hover{
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.3);
    border: 1px groove white;
    
}
@keyframes upward {
    0%{
        transform: translateY(0px);

    }
    100%{
        transform: translateY(-120px);

    }
    
}

/* MobileScreen */

@media screen and (max-width: 450px) {
   
    .navbar-logo a{
        display: none;
    }
    .nav-items ul li{
        display: contents;
    }
    .aboutcontainer{
        margin: 40px 0px;
        margin-bottom: 100px;
    }
    .contactcontainer{
        position: absolute;
        top: 0;
        z-index: -23;
    }
    .introdunctioncontainer h1{
        animation: opening 2s ease-in-out infinite alternate-reverse;
        font-size: 3rem;
        
    }
    .introdunctioncontainer p{
        animation: opening 2s ease-in-out infinite alternate-reverse;
        font-size: 0.8em;
        
    }
    footer p{
        font-size: 0.8em;
    }
    .icons .button{
        font-size: 0.9em;
    }
    .projectborder{
        width: 300px;
        font-size: 0.8em;
        height: 350px;
     }
     .projectborder h1{
        transform: translateY(-330px);
     }
  
    .contact{
        font-size: 10%;
    }
    .itemscontainer{
        border: none;
        background-color: transparent;
        border: 2px solid rgba(255,255,255,0.7);
        position: relative;
        top: 0;
        position: absolute;
        padding: 0 72px;
    }

   
    @keyframes border {
        0%{
            transform: scale(0);
        }
        100%{
            transform: scale(0.8);
    
        }
        
    }
    .circlecontainer{
        width: 300px;
        height: 300px;
    }
    .contactcontainer {
        margin-bottom: 0px;
    }
  
}

@media screen and (max-width:600px) {
    .aboutcontainer .aboutborder .aboutcontent img{
        width: 100px;
        height: 100px;
    }
    .aboutcontainer .aboutborder .aboutcontent h1{
        font-size: 1.2rem;
    }
    .aboutcontainer .aboutborder .aboutcontent p{
        font-size: .8rem;
    }
    .nav-items ul li{
        font-size: 12px;
    }
     .projectscontainer{
        flex-wrap: wrap;
        padding-top: 20px;
        gap: 20px;
     }
     
    .itemscontainer{
        width: 150px;
        height: 500px;
        position: relative;
        top: 50px;
        
    }
    .itemscontainer h1{
        font-size: 1.5rem;
    }
    .itemscontainer input{
        width: inherit;
    }
    .contactcontainer{
        margin-bottom: 100px;
    }

}

@media screen and (max-width:1000px) {
    .aboutcontainer .aboutborder .aboutcontent img{
        width: 120px;
        height: 120px;
    }
    .aboutcontainer .aboutborder .aboutcontent h1{
        font-size: 1.8rem;
    }
    .aboutcontainer .aboutborder .aboutcontent p{
        font-size: .9rem;
    }
   
     .projectscontainer{
        flex-wrap: wrap;
        padding-top: 20px;
        gap: 20px;
     }
     
    .itemscontainer{
        width: 200px;
        height: 500px;
        position: relative;
        top: 50px;
        
    }
    .itemscontainer h1{
        font-size: 2rem;
    }
    .itemscontainer input{
        width: 300px;
    }
    .contactcontainer{
        
        margin-bottom: 150px;
    }

}
